<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_002{font-family:"DejaVu Sans Bold",serif;font-size:8.5px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_002{font-family:"DejaVu Sans Bold",serif;font-size:8.5px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_003{font-family:"DejaVu Sans",serif;font-size:6.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_003{font-family:"DejaVu Sans",serif;font-size:6.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_004{font-family:"DejaVu Sans Bold",serif;font-size:6.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_004{font-family:"DejaVu Sans Bold",serif;font-size:6.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_005{font-family:"DejaVu Sans",serif;font-size:6.1px;color:rgb(68,69,71);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_005{font-family:"DejaVu Sans",serif;font-size:6.1px;color:rgb(68,69,71);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_006{font-family:"DejaVu Sans Bold",serif;font-size:6.1px;color:rgb(68,69,71);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_006{font-family:"DejaVu Sans Bold",serif;font-size:6.1px;color:rgb(68,69,71);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_007{font-family:"DejaVu Sans",serif;font-size:4.9px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_007{font-family:"DejaVu Sans",serif;font-size:4.9px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_008{font-family:"DejaVu Sans Bold",serif;font-size:4.9px;color:rgb(68,69,71);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_008{font-family:"DejaVu Sans Bold",serif;font-size:4.9px;color:rgb(68,69,71);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_009{font-family:"DejaVu Sans Bold",serif;font-size:4.9px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_009{font-family:"DejaVu Sans Bold",serif;font-size:4.9px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_010{font-family:"DejaVu Sans",serif;font-size:5.5px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_010{font-family:"DejaVu Sans",serif;font-size:5.5px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_011{font-family:"DejaVu Sans",serif;font-size:7.3px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_011{font-family:"DejaVu Sans",serif;font-size:7.3px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_012{font-family:"DejaVu Sans",serif;font-size:8.5px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_012{font-family:"DejaVu Sans",serif;font-size:8.5px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
-->
</style>
<script type="text/javascript" src="cc2ef3ea-20a6-11ea-a5fd-0cc47a792c0a_id_cc2ef3ea-20a6-11ea-a5fd-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-297px;top:0px;width:595px;height:842px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="cc2ef3ea-20a6-11ea-a5fd-0cc47a792c0a_id_cc2ef3ea-20a6-11ea-a5fd-0cc47a792c0a_files/background1.jpg" width=595 height=842></div>
<div style="position:absolute;left:37.50px;top:33.30px" class="cls_002"><span class="cls_002">Tax Invoice</span></div>
<div style="position:absolute;left:165.34px;top:34.50px" class="cls_003"><span class="cls_003">Order Id: </span><span class="cls_004">OD110871501541407860</span></div>
<div style="position:absolute;left:293.17px;top:34.50px" class="cls_003"><span class="cls_003">Invoice No: </span><span class="cls_004">FA A FA 71800002099</span></div>
<div style="position:absolute;left:421.01px;top:34.50px" class="cls_005"><span class="cls_005">GSTIN: UNREGISTERED</span></div>
<div style="position:absolute;left:165.34px;top:42.90px" class="cls_003"><span class="cls_003">Order Date: </span><span class="cls_005">28-10-2019, 02:31 P M</span></div>
<div style="position:absolute;left:293.17px;top:42.90px" class="cls_003"><span class="cls_003">Invoice Date: </span><span class="cls_005">2019-10-28, 02:32 P M</span></div>
<div style="position:absolute;left:421.01px;top:42.90px" class="cls_005"><span class="cls_005">PAN: ACYPK5923G</span></div>
<div style="position:absolute;left:37.50px;top:54.91px" class="cls_006"><span class="cls_006">Sold By</span></div>
<div style="position:absolute;left:227.76px;top:55.51px" class="cls_006"><span class="cls_006">Shipping ADDRESS</span></div>
<div style="position:absolute;left:386.20px;top:54.91px" class="cls_006"><span class="cls_006">Billing Address</span></div>
<div style="position:absolute;left:37.50px;top:64.51px" class="cls_007"><span class="cls_007">SHIVANK LEARNING RESOURCES INC.,</span></div>
<div style="position:absolute;left:227.76px;top:64.51px" class="cls_003"><span class="cls_003">Somendra Sharma,</span></div>
<div style="position:absolute;left:386.20px;top:64.51px" class="cls_007"><span class="cls_007">Somendra Sharma,</span></div>
<div style="position:absolute;left:37.50px;top:73.51px" class="cls_007"><span class="cls_007">301 KONARK OPP WHITE ROSE,</span></div>
<div style="position:absolute;left:227.76px;top:73.51px" class="cls_003"><span class="cls_003">Sri sai ikon, flat no. 314, gear Rd, Bhoganhalli,</span></div>
<div style="position:absolute;left:386.20px;top:73.51px" class="cls_007"><span class="cls_007">Sri sai ikon, flat no. 314, gear Rd, Bhoganhalli, bengaluru,</span></div>
<div style="position:absolute;left:37.50px;top:82.52px" class="cls_007"><span class="cls_007">NR HOTEL KALYAN FATEHGUNJ,</span></div>
<div style="position:absolute;left:227.76px;top:82.52px" class="cls_003"><span class="cls_003">bengaluru,</span></div>
<div style="position:absolute;left:386.20px;top:82.52px" class="cls_007"><span class="cls_007">Gear international school,</span></div>
<div style="position:absolute;left:37.50px;top:91.52px" class="cls_007"><span class="cls_007">VADODARA - 390002</span></div>
<div style="position:absolute;left:227.76px;top:91.52px" class="cls_003"><span class="cls_003">Gear international school,</span></div>
<div style="position:absolute;left:386.20px;top:91.52px" class="cls_007"><span class="cls_007">Gear innovative international school,</span></div>
<div style="position:absolute;left:227.76px;top:100.52px" class="cls_003"><span class="cls_003">Gear innovative international school,</span></div>
<div style="position:absolute;left:386.20px;top:100.52px" class="cls_007"><span class="cls_007">Bengaluru - 560103, IN-KA</span></div>
<div style="position:absolute;left:227.76px;top:109.52px" class="cls_003"><span class="cls_003">Bengaluru - 560103, IN-KA</span></div>
<div style="position:absolute;left:334.89px;top:118.53px" class="cls_004"><span class="cls_004">Gross</span></div>
<div style="position:absolute;left:413.21px;top:118.53px" class="cls_004"><span class="cls_004">Taxable</span></div>
<div style="position:absolute;left:101.12px;top:122.13px" class="cls_004"><span class="cls_004">Product</span></div>
<div style="position:absolute;left:222.95px;top:122.13px" class="cls_004"><span class="cls_004">Description</span></div>
<div style="position:absolute;left:300.68px;top:122.13px" class="cls_004"><span class="cls_004">Qty</span></div>
<div style="position:absolute;left:371.80px;top:122.13px" class="cls_004"><span class="cls_004">Discount</span></div>
<div style="position:absolute;left:471.72px;top:122.13px" class="cls_004"><span class="cls_004">IGST</span></div>
<div style="position:absolute;left:522.14px;top:122.13px" class="cls_004"><span class="cls_004">Total</span></div>
<div style="position:absolute;left:331.58px;top:125.73px" class="cls_004"><span class="cls_004">Amount</span></div>
<div style="position:absolute;left:417.71px;top:125.73px" class="cls_004"><span class="cls_004">Value</span></div>
<div style="position:absolute;left:39.90px;top:135.93px" class="cls_003"><span class="cls_003">Spring in Action 4th Edition Paperback Craig Walls</span></div>
<div style="position:absolute;left:39.90px;top:143.13px" class="cls_003"><span class="cls_003">5th Edition 9789351197997 English Dreamtech</span></div>
<div style="position:absolute;left:192.35px;top:143.13px" class="cls_003"><span class="cls_003">HSN: 49011010 | IGST: 0%</span></div>
<div style="position:absolute;left:304.88px;top:143.13px" class="cls_003"><span class="cls_003">1</span></div>
<div style="position:absolute;left:337.29px;top:143.13px" class="cls_003"><span class="cls_003">3395.0</span></div>
<div style="position:absolute;left:381.70px;top:143.13px" class="cls_003"><span class="cls_003">0</span></div>
<div style="position:absolute;left:422.21px;top:143.13px" class="cls_003"><span class="cls_003">3395</span></div>
<div style="position:absolute;left:477.43px;top:143.13px" class="cls_003"><span class="cls_003">0</span></div>
<div style="position:absolute;left:525.44px;top:143.13px" class="cls_003"><span class="cls_003">3395</span></div>
<div style="position:absolute;left:39.90px;top:150.33px" class="cls_003"><span class="cls_003">Press 2019 | 7997</span></div>
<div style="position:absolute;left:192.35px;top:161.14px" class="cls_004"><span class="cls_004">Shipping Charge</span></div>
<div style="position:absolute;left:304.88px;top:161.14px" class="cls_003"><span class="cls_003">1</span></div>
<div style="position:absolute;left:341.79px;top:161.14px" class="cls_003"><span class="cls_003">95</span></div>
<div style="position:absolute;left:384.70px;top:161.14px" class="cls_003"><span class="cls_003">0</span></div>
<div style="position:absolute;left:424.01px;top:161.14px" class="cls_003"><span class="cls_003">95</span></div>
<div style="position:absolute;left:477.43px;top:161.14px" class="cls_003"><span class="cls_003">0</span></div>
<div style="position:absolute;left:527.24px;top:161.14px" class="cls_003"><span class="cls_003">95</span></div>
<div style="position:absolute;left:493.63px;top:172.54px" class="cls_004"><span class="cls_004">TOTA L PRICE: 3490</span></div>
<div style="position:absolute;left:39.90px;top:176.14px" class="cls_004"><span class="cls_004">TOTA L QTY: 1</span></div>
<div style="position:absolute;left:497.23px;top:179.74px" class="cls_003"><span class="cls_003">All values are in INR</span></div>
<div style="position:absolute;left:37.50px;top:194.15px" class="cls_008"><span class="cls_008">Seller Registered Address:</span><span class="cls_007"> SHIVANK LEARNING RESOURCES INC.,</span></div>
<div style="position:absolute;left:37.50px;top:200.15px" class="cls_007"><span class="cls_007">2, KONARK,OPP. WHITE ROSE,, NR. HOTEL KALYAN, FATEHGUNJ,, VADODARA - 390002.</span></div>
<div style="position:absolute;left:37.50px;top:206.15px" class="cls_009"><span class="cls_009">Declaration</span></div>
<div style="position:absolute;left:37.50px;top:212.15px" class="cls_007"><span class="cls_007">The goods sold are intended for end user consumption and not for resale.</span></div>
<div style="position:absolute;left:37.50px;top:276.97px" class="cls_010"><span class="cls_010">E. & O.E.</span></div>
<div style="position:absolute;left:374.80px;top:276.37px" class="cls_011"><span class="cls_011">Ordered Through</span></div>
<div style="position:absolute;left:402.40px;top:293.77px" class="cls_012"><span class="cls_012">SHIVANK LEARNING RESOURCES INC.</span></div>
<div style="position:absolute;left:402.40px;top:301.58px" class="cls_003"><span class="cls_003">Authori>ed Signature</span></div>
</div>

</body>
</html>
